<% include header %>
<div id="dl"> &#x3000;
<form method="post" class="zhuce" >
    用户:<input type="text" name="username" placeholder="请输入用户名" required><br>
    密码:<input type="text" name="password" placeholder="请输入密码" required><br>
    <input type="submit" class="tijiao" value="提交">
</form>
</div>
<div class="de">

</div>
<% include footer %>