<% include header %>
<div class="zd"> &#x3000;
<form method="post" class="zhuce">
    用户:<input type="text" name="username" placeholder="请输入用户名" required><br>
    密码:<input type="text" name="password" placeholder="请输入密码" required><br>
    确认:<input type="text" name="password_re" placeholder="确认密码" required><br>
    邮箱:<input type="email" name="email" placeholder="请输入邮箱" required><br>
    <input type="submit" class="tijiao" value="提交">
</form>
</div>
<div class="di">

</div>
<% include footer %>